.nav__active {
    background: #0FCFEC;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.nav__link {
    padding: 8px;
}

.menu li div:active {
    background: none;
}

.menu li div:hover {
    background: none;
}